{{- $pw := "" -}}
{{- if (hasKey . "pw") -}}
{{-   $pw = .pw -}}
{{- else -}}
{{-   $pw = promptString "password" -}}
{{- end -}}
{
  "gpg": {
    "args": ["--batch", "--passphrase={{ $pw -}}"],
    "symmetric": true
  },
  "data": {
    "pw": {{ $pw | quote }}
  }
}
