#!/bin/zsh

{{ if not (lookPath "brew") -}}
# install Homebrew
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

{{ end -}}

# TODO: install from Brewfile
# install chezmoi to path (was temporarily installed in $TMPDIR by install script)
# brew install chezmoi
brew install age

# install software with Homebrew/mas-cli
# HOMEBREW_CASK_OPTS=--no-quarantine brew bundle
