#!/bin/zsh

cd {{ .chezmoi.sourceDir }}
git remote set-url origin git@github.com:andreaswilli/dotfiles.git

# this allows us to store the passphrase in keychain
ssh-add --apple-use-keychain ~/.ssh/id_ed25519
